html {
	--text-color: #e6e6e6;
	--title-text-color: #cdcabd;
	--accent-text-color: #d72f2f;
	--accent-text-color-o25: rgba(215, 47, 47, .2509803922);
	--value-text-color: #9a957b;
	--label-text-color: #ffffff;
	--panel-bg: #1f1f1f;
	--inner-card-bg: #333333;
	--surface-text: #e6e6e6;
	--surface-tile1: #1f1f1f;
	--surface-tile2: #353535;
	--panel-border-color: rgba(161, 161, 161, .2);
	--bastion-panel-shadow-color: rgba(0, 0, 0, .1);
	--info-text-color: #54b8ec;
	--border-box-primary-bg: #353535;
	--border-box-primary-border: #5c5c5c;
	--secondary-text-color: #cdcabd;
	--range-background-unfilled: #635f4c;
	--range-background-filled: #b3af9c;
	--range-text-unfilled-color: #e6e4de;
	--range-text-filled-color: #323026;
	--panel-divider-color: #a1a1a1;
	--dark-divider-color: #070809;
	--medium-gray-divider-color: #353535;
	--dark-secondary-divider-color: #323026;
	--shadow-medium-dark: 0px 4px 5px 0px rgba(0, 0, 0, .14), 0px 1px 10px 0px rgba(0, 0, 0, .12), 0px 2px 4px 0px rgba(0, 0, 0, .2);
	--shadow-large-dark: 0px 3px 5px 0px rgba(0, 0, 0, .2), 0px 1px 18px 0px rgba(0, 0, 0, .12), 0px 6px 10px 0px rgba(0, 0, 0, .14);
	--panel-divider-secondary-color: #9a957b;
	--small-divider-color: rgba(255, 255, 255, .15);
	--panel-divider-secondary-color-o50: rgba(154, 149, 123, .5019607843);
	--mostly-black-divider-color: rgba(0, 0, 0, .35);
	--bright-bar-divider-color: white;
	--grey-divider-color: #5c5c5c;
	--red-divider-color: #d72f2f80;
	--font-body: Proxima Nova, sans-serif;
	--font-title: Modesto, sans-serif;
	--secondary-gray-text: #b3b3b3;
	--dnd-gray-text: #a1a1a1;
	--placeholder-text-color: #5c5c5c;
	--warning-text-color: #ffbc33;
	--secondary-l25-text: #b3af9c;
	--spellcasting-name-text-color: #ffdd99;
	--spellcasting-popover-description-text-color: #b3b3b3;
	--effect-accent-color: var(--warning-text-color);
	--effect-affects-color: #a1a1a1;
	--default-button-bg: #353535;
	--default-button-focus-border: #e6e6e6;
	--secondary-button-bg: #635f4c;
	--outlined-button-border: #a1a1a1;
	--outlined-button-hover-bg: #5d5d5d;
	--secondary-outlined-button-border: #898369;
	--secondary-outlined-button-hover-bg: #635f4c;
	--tertiary-button-text-color: #e16363;
	--tertiary-button-hover-bg: #2a2a2a;
	--tertiary-button-focus-bg: #353535;
	--tertiary-button-focus-border: #e6e6e6;
	--inline-button-text-color: #e16363;
	--button-primary-base: #a82020;
	--card-title-font-color: #a1a1a1;
	--card-label-font-color: #a1a1a1;
	--card-label-background-dark: #171717;
	--card-label-border-color: #5c5c5c;
	--roll-button-hover-border: #d72f2f;
	--info-button-bg: #a1a1a1;
	--remove-button-bg: #833236;
	--input-border: #a1a1a1;
	--input-hover-border: #d72f2f;
	--input-focus-border: #b3af9c;
	--input-disabled-border: #5c5c5c;
	--resource-max-color: #a1a1a1;
	--default-radio-color: #d72f2f;
	--parallelogram-radio-inactive-bg: #070809;
	--parallelogram-radio-inactive-text: #a1a1a1;
	--parallelogram-radio-inactive-border: var(--parallelogram-radio-inactive-bg);
	--parallelogram-radio-hover-bg: var(--parallelogram-radio-inactive-bg);
	--parallelogram-radio-hover-border: #861a1a;
	--parallelogram-radio-active-bg: #651313;
	--parallelogram-radio-active-text: var(--text-color);
	--parallelogram-radio-active-border: #eb9797;
	--parallelogram-radio-active-glowies: 0px 0px 8px 0px #f8da704d, 0px 0px 4px 0px #ffb3151a, 1px 1px 8px 0px #ffc85799;
	--select-hover-glowies: 0px 0px 8px 0px #f8db70a2, 0px 0px 4px 0px #ffb5155e, 1px 1px 8px 0px #ffc757b6;
	--ease-all: all .25s ease-in-out;
	--clickable-icon-color: #a1a1a1;
	--clickable-icon-hover: #d72f2f;
	--exp-increase-icon-color: #48bd7d;
	--exp-decrease-icon-color: #ff7979;
	--panel-header-font-color: #e6e6e6;
	--panel-subheader-font-color: #a1a1a1;
	--panel-settings-icon-default: #e6e6e6;
	--panel-settings-icon-hover: #7c775f;
	--defenses-text-category: #9a957b;
	--defenses-text-list: #e6e6e6;
	--defenses-text-empty-placeholder: #a1a1a1;
	--inspired-bg: #a82020;
	--not-inspired-bg: #353535;
	--character-level-color: #e6e6e6;
	--character-level-bg: #a82020;
	--stat-card-background: #353535;
	--stat-card-text-color: #a1a1a1;
	--shadowed-card-background: #1f1f1f;
	--passive-stat-value-text-color: #b3af9c;
	--skill-name-font-color: #e6e6e6;
	--scrollbar-color: #5c5c5c;
	--challenge-level-color: #e6e6e6;
	--healthy-hp-bar-color: #1aad5c;
	--healthy-hp-bar-background: #a3debe;
	--proficient-proficiency-fill: #651313;
	--untrained-proficiency-circle: #666666;
	--expert-circle: #a82020;
	--untrained-proficiency-fill: #171717;
	--ability-border: #666666;
	--statblock-button-hover-border: #d72f2f;
	--table-row-hover-border: inset 0 0 3px #d72f2f;
	--header-row-background: rgba(0, 0, 0, .5);
	--header-text-color: #a1a1a1;
	--table-section-header-color: #ffcd66;
	--hit-dc-color: #fd9;
	--hit-damage-color: #e16363;
	--healing-color: #48bd7d;
	--modal-header-font-color: #e6e6e6;
	--modal-subheader-font-color: #9a957b;
	--modal-close-circle-color: #5c5c5c;
	--modal-close-x-color: #b3b3b3;
	--modal-primary-button-color: #d72f2f;
	--modal-secondary-button-hover: #861a1a;
	--modal-input-label-color: #a1a1a1;
	--modal-header-secondary-button-color: #635f4c;
	--modal-header-secondary-outline-button-hover: #635f4c;
	--modal-divider-color: #635f4c;
	--modal-overlay-color: rgba(0, 0, 0, .5);
	--switch-active-color: #861a1a;
	--switch-inactive-color: #353535;
	--always-prepared-switch-background-color: #ffffff;
	--checkbox-border-color: #d72f2f;
	--checkbox-active-color: #d72f2f;
	--checkbox-checkmark-color: #e6e6e6;
	--default-tabs-active-bg-color: #a82020;
	--default-tabs-active-text-color: #e6e6e6;
	--popover-background: #171717;
	--popover-text: #e6e6e6;
	--popover-text-bold: #ffcd66;
	--popover-border-color: #635f4c;
	--popover-border-color-red: #d72f2f;
	--popover-header-background: #1f1f1f;
	--popover-header-text: #b3af9c;
	--popover-header-border-color: #353535;
	--popover-header-border-bottom-color: #635f4c;
	--dropdown-button-focus-border-color: #d72f2f;
	--dropdown-button-hover-border-color: #a82020;
	--dropdown-button-border-color: #a1a1a1;
	--dropdown-options-text-color: #a1a1a1;
	--dropdown-option-hover-bg: #635f4c;
	--dropdown-option-selected-bg: #b3af9c;
	--dropdown-option-selected-text: #323026;
	--menu-background: #1f1f1f;
	--menu-hover-background: #b3af9c;
	--menu-hover-text: #323026;
	--popover-tooltip-text: white;
	--popover-tooltip-background: #353535;
	--scrollbar-color: #666666;
	--draggable-list-dropzone-color: #a82020;
	--layout-swap-toggle-color: #b3af9c;
	--collapse-button-bg-color: rgba(92, 92, 92, .6);
	--collapse-button-text-color: #e6e4de;
	--collapse-chevron-color: #e6e6e6;
	--component-chip-color: #e6e6e6;
	--component-chip-color-primary: #fd9;
	--component-chip-color-secondary: #eb9797;
	--component-chip-color-tertiary: #bbe3f7;
	--component-chip-background: #171717;
	--component-chip-background-secondary: #353535;
	--component-chip-color-primary-red: #d72f2f;
	--spell-item-source-color: #fd9;
	--ritual-chip-background: rgba(84, 184, 236, .1);
	--ritual-chip-text-color: #bbe3f7;
	--filter-chip-background: #ffab00;
	--filter-chip-text-color: #111111;
	--purse-background-color: #353535;
	--purse-label-color: #b3af9c;
	--purse-toggle-button-color: #b3af9c;
	--purse-toggle-button-hover-color: white;
	--about-characteristics-table-bg: #353535;
	--about-characteristics-value-color: #a1a1a1;
	--about-label-text-color: #a1a1a1;
	--rt-text-background: rgba(0, 0, 0, .3);
	--rt-title-color: white;
	--rt-default-text-color: #e6e6e6;
	--rt-save-text-color: #e6e6e6;
	--rt-primary-divider-color: #d72f2f;
	--rt-subtitle-color: #a1a1a1;
	--rt-character-name-color: #9a957b;
	--rt-textcontent-color: var(--rt-title-color);
	--rt-result-color: #e6e6e6;
	--rt-summary-color: #b3af9c;
	--rt-formula-color: #a1a1a1;
	--rt-breakdown-header-color: #e6e6e6;
	--rt-result-roll-used: #e6e6e6;
	--rt-result-normal-box-bg: #1f1f1f;
	--rt-result-normal-border: #5c5c5c;
	--rt-result-fumble-box-bg: #430d0d;
	--rt-result-fumble-text-color: #f5cbcb;
	--rt-result-fumble-border: #d72f2f;
	--rt-result-critical-box-bg: #0a4525;
	--rt-result-critical-text-color: #a3debe;
	--rt-result-critical-border: #a3debe;
	--rt-whisper-text-color: rgb(118, 198, 240);
	--rt-disfavored-advantage-text-color: #a1a1a1;
	--rt-roll-action-background: #353535;
	--rt-roll-action-text-color: #cdcabd;
	--rt-error-background: #572124;
	--rt-error-border: #d1d1d1;
	--rt-border: #5c5c5c;
	--hit-dice: #7c775f;
	--used-hit-dice: #b3b3b3;
	--npc-feature-button-icon-color: #a1a1a1;
	--senses-text-list: #e6e6e6;
	--languages-text-list: #e6e6e6;
	--npc-avatar-border: #8f7543;
	--npc-text-list-secondary: #a1a1a1;
	--snackbar-error-background: #ae4248;
	--snackbar-warning-background: #ffab00;
	--snackbar-warning-text-color: #353535;
	--snackbar-happy-background: #106837;
	--prepared-control-bar-delete-background: rgba(53, 53, 53, .6);
	--filter-chip-border-color: #5c5c5c;
	--filter-chip-border-color-selected: #a82020;
	--filter-chip-background-color: #1f1f1f;
	--filter-collapse-background: #171717;
	--filter-collapse-header-border: rgba(0, 0, 0, .1);
	--clear-filters-button-color: #a82020;
	--filters-total-text-color: #5c5c5c;
}