 /*GENERAL AO3 SETTINGS - FOR PREVIEW PURPOSES ONLY*/
 body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
    h3, h4 {
        font-family: Georgia, serif;
    }
    .tpf__sidebar h4 {
        display: inline;
        font-weight: 700;
    }
    input[type=checkbox]:checked + .indicator + span , input[type=radio]:checked + .indicator + span {
        font-weight: 700;
    }
    legend {
        display:none;
    }
    .expander {
        background: url("https://archiveofourown.org/images/arrow-right.gif") left center no-repeat;
        border: none;
        padding: 0.25em 0 0.25em 14px;
        &.expanded {
            background-image: url("https://archiveofourown.org/images/arrow-down.gif");
        }
    }
    .landmark {
        font-style: 0;
        opacity: 0;
        font-size: 0;
        line-height: 0;
        height: 0;
        margin: 0;
        clear: both;
        color: transparent;
        opacity: 0;
    }
    .actions button:hover {
        color: #900;
    }
    .footnote {
        font-size: 0.75em;
        float: right;
    }
    .popup {
        height: 600px; /* remove */
        padding: 0.8em;
        overflow: auto;
    }
}

/* CUSTOM MENU */
.tpf__ui {
    font-size: 0.9em;

    & h3, h4, dt, dd {
        margin: unset;
    }
    & button {
        margin: 0.15em 0;
    }

    /* SIDEBAR */

    &.tpf__sidebar {
        background-color: antiquewhite;
        padding: 0.643em;
    }
    & .tpf__sidebar-head {
        display: flex;
        justify-content: space-between;
        & .expander {
            font-size: 1.2em;
        }
        & #tpf__filter-toggle {
            width:2.5em;
            &.current {
                font-weight: 700;
            }
            &:hover, &:focus-visible {
                color: #900;
                border-top: 1px solid #999;
                border-left: 1px solid #999;
                box-shadow: inset 2px 2px 2px #bbb;
            }
        }
    }

    & .tpf__wrap {
        margin-top: 1.3em;
        & > .tpf__head {
            padding: 0.1em;
            border-bottom: solid 2px firebrick;
        }
    }        
    & .tpf__tag-block, & .tpf__wrap .tpf__head {
        margin-bottom: 0.4em;
    }
    & .tpf__syntax {
        margin-top: 2em;
    }
    & .tpf__apply {
        margin: 1em 0;
        &::before { content: "🡆\\00a0" } /*00a0 for nbsp, slash escaped*/
    }
    & .tpf__config-head {
        display: flex;
        justify-content: space-between;
        & .expander {
            font-size: 1.1em;
        }
        & .footnote {
            min-width: fit-content;
        }
        & + .expandable {
            background-color: #FCF5EB;
            box-shadow: inset 0px 7px 7px -7px #999;
            padding: 1em 0.5em;
            box-sizing: border-box;
            display: grid;
            row-gap: 0.5em;
            & #tpf__setting-debug + span + span::before { content: "🐞"; margin-right: 0.3em; }
            & .save::before { content: "💾" ; float:left }
            & .load::before { content: "🠋" ; text-decoration: underline; float:left}
            & .actions { margin-top: 0.5em;}
        }
    }

    /* MENU ELEMENTS */

    & dt.collapsed + dd.expandable {
        display: none;        
    }
    & textarea:read-only, input[type=text]:read-only {
        background-color: #FCF5EB;
        color: #525252;
    }
    & .tpf__tag-list {
        resize: vertical;
        width: 100%;
        box-sizing: border-box;
        min-height: unset;
        margin: 0.25em 0 0.35em 0;
        padding: 0.3em;
        font-family: monospace;
    }
    & .tpf__within {
        display: block;
        text-align: right;
        & .tpf__tag-lim {
            width: 1.3em;
            height: 1.3em;
	        text-align: center;
        }
    }
    & fieldset {
        margin: 0 0 0.6em 0;
        box-sizing: border-box;
        width: 100%;
        box-shadow: inset 0 1px 2px #ccc; /*mimic AO3 textboxes*/
        background-color: #FCF5EB;
        & .question {
            width: unset;
            font-size: 1em;
            vertical-align:text-top;
            float: right;
        }
    }
    & label {
        white-space: nowrap;
        margin-right: unset;
    }
    & .tpf__explanatory-text {
        display: block;
        font-size: 0.8em;
        margin-left: 2em;
        line-height: 1.1em;
        color: #525252;
    }
    & .actions button {
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }
    & .question {
        padding:0 0.55em;
        margin: 0 1px;
        background: #d1e1ef;
        color: #2a547c;
        border: 1px solid #2a547c;
        border-radius: 0.75em;
        box-shadow: -1px -1px 2px rgba(0,0,0,0.25);
        font: bold 0.75em Georgia, serif;
        vertical-align: super;
        cursor: help;
    }
    & .footnote {
        padding-right: unset;
    }

    /* MODAL POPUP */

    &.popup {
        font-size: 1em;
        & .tpf__search-term {
            font-family: 'Courier New', Courier, monospace;
        }
        & .tpf__str-match {
            text-decoration: underline;
        }
        & > details {
            margin: 0.9em 0;
            & > :last-child {
                margin-bottom: 2em; /*collapsible spacing*/
            }
            & > summary {
                border-bottom: solid 2px firebrick;
                font-family: Georgia, serif;
                font-size: 1.15em;
                line-height: 1.5em;
                font-weight: 700;
            }
        }
        & summary {
            cursor: default;
        }
        & .tpf__rx-cheatsheet {
            padding-left: 1.5em;
            border-left: solid #dadada 4px;
            & summary {
                margin-left: -1.5em;
                background-color: #dadada;
                padding: 0.2em;
            }
            & h4 {
                margin-top: 1em;
            }
            & dl {
                display: grid;
                grid-template-columns: 6.5em 1fr;
                padding-left: 1em;
                align-items: center;
                & dt {
                    background-color: #FCF5EB;
                    font-weight: 700;
                    font-family: 'Courier New', Courier, monospace;
                    padding-left: 0.4em;
                    margin-right: 1em;
                }
            }
            & p, ul, li {
                margin: 0;
                padding: unset inherit;
            }
        }
        & li > table {
            margin: 0.5em 0; /*spacing around table*/
        }
        & table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            font-size: 0.8em;
            background-color:floralwhite;
            & th, td {
                padding: 0.4em;
            }
            &.tpf__matching-basics {
                border: 1px solid cadetblue;
                thead {
                    background-color: lightblue;
                    & th:nth-child(-n + 2) { width: 8em; } /* first two cols. N starts at 0, so -n+2: 0+2, -1+2 */
                    & th:nth-child(3) { width: 1em; }
                }
                & th:nth-child(-n + 3) { text-align: center; }
                & td:nth-child(-n + 3) { text-align: center; font: 1.1em 'Courier New', Courier, monospace; }
            }
            &.tpf__matching-examples {
                border: 1px solid firebrick;
                & th + th, td + td {
                    border-left: 1px solid palevioletred;
                }
                & thead {
                    background-color: lightpink;
                    & th:nth-child(2) { width: 7em; }
                    & th:nth-child(4) { width: 1em; }
                }
                & td:nth-child(2), td:nth-child(3), td:nth-child(4) { font: 1.1em 'Courier New', Courier, monospace; }
                & td:nth-child(4) { text-align: center; }
            }
        }
    }

}